In [1]:
# Adding Dependencies

import pandas as pd

In [4]:
# Import our data

meta_df = pd.read_csv("2016_meta_percent.csv", index_col=0)

winrate_df = pd.read_csv("2016_vintage_matchups.csv", index_col=0)

In [5]:
meta_df

      Percent
S        0.13
G        0.32
D        0.08
BB       0.08
HC       0.07
Com      0.10
Oath     0.07
Eld      0.09
Misc     0.06

In [6]:
winrate_df

         S     G     D    BB    HC   Com  Oath   Eld  Misc
S     0.50  0.54  0.52  0.66  0.58  0.65  0.57  0.51  0.73
G     0.46  0.50  0.53  0.49  0.53  0.65  0.45  0.53  0.63
D     0.48  0.47  0.50  0.67  0.60  0.39  0.26  0.48  0.35
BB    0.34  0.51  0.33  0.50  0.37  0.52  0.39  0.44  0.39
HC    0.42  0.47  0.40  0.63  0.50  0.67  0.47  0.42  0.89
Com   0.35  0.35  0.61  0.48  0.33  0.50  0.32  0.42  0.56
Oath  0.43  0.55  0.74  0.61  0.53  0.68  0.50  0.54  0.64
Eld   0.49  0.47  0.52  0.56  0.58  0.58  0.46  0.50  0.81
Misc  0.27  0.37  0.65  0.61  0.11  0.44  0.36  0.19  0.50